
main {
    width: 80%;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 40px;
}

article h2 {
    font-size: 2em;
    color: #ff5e00;
}



/* Responsividade */
@media only screen and (max-width: 768px) {
    main {
        width: 95%;
    }

    header h1 {
        font-size: 2em;
    }

    article h2 {
        font-size: 1.5em;
    }
}

/* Estilos padrão (mobile-first) */

body {
    font-size: 16px;
}

/* Estilos para tablets */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* Estilos para desktops */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}

/* Estilos para TVs */
@media (min-width: 1824px) {
    body {
        font-size: 22px;
    }
}

img {
    max-width: 100%;
    height: auto;
}
